# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.swo
*.log
*.env
.env/
.venv/
venv/
.Python
*.sqlite3
*.db

# VSCode / IDE files
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# Node / React
node_modules/
st_react_flow/frontend/node_modules/
st_react_flow/frontend/dist/
st_react_flow/frontend/.vite/
st_react_flow/frontend/.cache/
st_react_flow/frontend/package-lock.json

# Build output - keep the React build
# Ignore all builds except st_react_flow/build
build/
!st_react_flow/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Streamlit
.streamlit/

# Temporary files
*.tmp
